.main-content-contact {
    width: 800px;
    height: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .field {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(255, 250, 230);
    background-color: rgb(255, 250, 230);;
    border-radius: 4px;
  }
  
  textarea {
    height: 80px;
    resize: vertical;
    color: #070F2B;
  }
  
  button {
    background: rgb(255, 250, 230);
    color: #070F2B;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    border: solid;
    animation: blink-shadow-button 1s infinite;
  }
  
  button:active {
    background-color: #e2e4d3;
  }

  @keyframes blink-shadow-button {
    0% {
      box-shadow: 0 0 0 rgba(255, 250, 230, 0); /* No shadow at the start */
    }
    50% {
      box-shadow: 0 0 20px rgb(255, 250, 230); /* Larger shadow at the midpoint */
    }
    100% {
      box-shadow: 0 0 0 rgba(255, 250, 230, 0); /* No shadow at the end */
    }
  }
  
  .error {
    color: #d9534f;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .success {
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  