.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  height: 700px;
  margin: 0 auto 2rem;
  margin-bottom: 100px;
}
.moon h3 {
  position: absolute;
  left: 20rem;
  top: 10rem;
  font-size: 50px;
  width: 70px;
  animation: blink-shadow 4s infinite;
}
@keyframes blink-shadow {
  0% {
    text-shadow: 0 0 0 rgba(255, 250, 230, 0); 
  }
  50% {
    text-shadow: 0 0 20px rgb(255, 250, 230);
  }
  100% {
    text-shadow: 0 0 0 rgba(255, 250, 230, 0); 
  }
}
.cover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%
}
.text-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  gap: 15px;
}
.text-wrapper h1, p {
  text-align: left;
}
.text-wrapper p {
  font-size: 20px;
}
.isaac-pfp {
  width: 450px;
  height: 450px;
}
.isaac-pfp img {
  width: 450px;
  height: 450px;
  border-radius: 30%;
  border: solid 3px;
  border-color: rgb(255, 250, 230);
  object-fit: cover;
  top: 50px;
}

@media screen and (max-width: 850px) {
  .main-content {
    width: 100%;
    max-width: 400px;
  }
  .cover {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%
  }
  .isaac-pfp {
    width: 300px;
    height: 300px;
  }
  .isaac-pfp img {
    width: 100%;
    height: 300px;
  }
}