.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5vw;
    background-color: #070F2B;
    z-index: 1000;
}
.logo a {
    color: rgb(255, 250, 230);
    text-decoration: none;
}
.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    text-decoration: none;
}
.menu a {
    color: rgb(255, 250, 230);
    font-weight: 600;
    text-decoration: none;
}
.menu a:hover {
    text-decoration: underline;
}
.menu-socials {
    display: flex;
    list-style: none;
    gap: 10px;
    text-decoration: none;
}
.menu-socials img {
    width: 30px;
    height: 30px;
    border-radius: 30%;
}